
<ion-header>
  <ion-toolbar color="primary">
      <ion-grid>
          <ion-row>
              <ion-col>
                  <div class="margin-top">
                      <ion-icon name="arrow-back-circle"></ion-icon>
                  </div>
              </ion-col>
              <ion-col>
                  <div class="ion-text-center">
                      <ion-title>บัญชีผู้ใช้ Enterprise</ion-title>
                  </div>
              </ion-col>
              <ion-col class="ion-text-right">
                  <div class="margin-top text-right">
                      <ion-icon name="log-out"></ion-icon>
                  </div>
              </ion-col>

          </ion-row>
      </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="ion-text-center">
      <img class="sizeimg" decoding="async" src="assets/icon/male.png">
  </div>

  <ion-card>
      <ion-card-header>
          <div class="ion-text-center">
              <ion-title>List Shared with</ion-title>
          </div>
      </ion-card-header>

      <ion-card-content>
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <ion-title>DEV</ion-title>
                  </ion-col>
                  <ion-col>
                      <div class="margin-top ion-text-end">
                          <ion-icon name="trash"></ion-icon>
                      </div>
                  </ion-col>
              </ion-row>
          </ion-grid>
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-card-content>
  </ion-card>
  <ion-card-content>
      <ion-button expand="block">confirm</ion-button>
  </ion-card-content>

</ion-content>