<ion-header>
    <ion-toolbar>
        <ion-title>Showaccount</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <div padding class="ion-text-center">
            <ion-card-header>

                <ion-card-title>Manage account</ion-card-title>
            </ion-card-header>
        </div>
        <ion-card-content>
            <ion-toolbar>
                <div padding class="ion-text-center">
                    <ion-button (click)="openAddAccount()">
                        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                    </ion-button>
                </div>
            </ion-toolbar>
        </ion-card-content>
    </ion-card>
</ion-content>