<!-- 
  File Name : showaccount.html
  Name : Naruemon 
  Date : 01/03/20
 -->
<!-- Header -->
<ion-header class="bg-account">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>สวัสดีคุณ{{name}} !!</ion-title>
        <ion-icon name="log-out-outline" style=" width: 30px; height: 30px; margin-right: 5%;" (click)="log_out()" slot="end"></ion-icon>
    </ion-toolbar>
</ion-header>
<!-- End Header -->
<!-- Body -->
<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-list>
                <!-- Sliding item with text options on both sides -->
                <!-- for loop -->
                <ion-item-sliding *ngFor="let person of account_person">
                    <ion-item *ngIf="person.account_user_id == session['user_id']">
                        <ion-label>{{person.account_name}}</ion-label>
                    </ion-item>
                    <!-- button -->
                    <ion-item-options side="end">
                        <ion-item-option color="success" (click)="selecet_account(person.id,person.account_name)">เลือก</ion-item-option>
                        <ion-item-option color="danger" (click)="removeAccount(person.id)">ลบ</ion-item-option>
                    </ion-item-options>
                    <!-- End button -->
                </ion-item-sliding>
                <ion-item-sliding *ngFor="let family of account_family">
                    <div *ngFor="let member of family.account_member">
                        <ion-item *ngIf="member.user_id == session['user_id']">
                            <ion-label>{{family.account_name}}</ion-label>
                        </ion-item>
                        <!-- button -->
                        <ion-item-options side="end">
                            <ion-item-option color="success" (click)="selecet_account(family.id,family.account_name)">เลือก</ion-item-option>
                            <ion-item-option color="medium" (click)="gotomanagementFamily(family.id,family.account_name)">ตั้งค่า</ion-item-option>
                            <ion-item-option color="danger" (click)="removeAccount(family.id)">ลบ</ion-item-option>
                        </ion-item-options>
                        <!-- End button -->
                    </div>
                </ion-item-sliding>
                <ion-item-sliding *ngFor="let enterprise of account_enterprise">
                    <div *ngFor="let member of enterprise.account_member">
                        <ion-item *ngIf="member.user_id == session['user_id']">
                            <ion-label>{{enterprise.account_name}}</ion-label>
                        </ion-item>
                        <!-- button -->
                        <ion-item-options side="end">
                            <ion-item-option color="success" (click)="selecet_account(enterprise.id,enterprise.account_name)">เลือก</ion-item-option>
                            <ion-item-option color="medium" (click)="gotomanagementEnterprise(enterprise.id,enterprise.account_name)">ตั้งค่า</ion-item-option>
                            <ion-item-option color="danger" (click)="removeAccount(enterprise.id)">ลบ</ion-item-option>
                        </ion-item-options>
                        <!-- End button -->
                    </div>
                </ion-item-sliding>


            </ion-list>
        </ion-card-content>
    </ion-card>

    <!-- Footer -->
    <ion-toolbar>
        <div padding class="ion-text-center">
            <!-- ปุ่มเพิ่ม Account -->
            <ion-button (click)="openAddAccount()" expand="block">
                เพิ่มบัญชี
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
            </ion-button>
            <!--End ปุ่มเพิ่ม Account -->
        </div>
    </ion-toolbar>
    <!-- End Footer -->

</ion-content>
<!-- End Body -->