.backgroundincome {
    background-color: rgb(33, 168, 44);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    padding: 3px;
    padding-left: 15px;
    color: white;

  }
.backgroundexpense {
    background-color: rgb(202, 209, 202);
    width: 100px;
    height: 30px;
    color: black;
    border-radius: 10px;
    padding: 3px;
    padding-left: 12px;
}
ion-card-title:hover {
    font-size: 22px;  
}



