<ion-header>
    <ion-toolbar>
        <ion-title>Category</ion-title>
        <ion-text (click)="back()" style="padding: 10px;" slot="end" size="small">Back</ion-text>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="type_catagory == 'income'">
    <ion-card id="card">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <!-- test -->
                        <ion-card-title class="background_click" (click)="ChecktypeCatagory('income')">Income</ion-card-title>

                    </ion-col>
                    <ion-col>

                        <ion-card-title class="background_default" (click)="ChecktypeCatagory('Expense')">Expense</ion-card-title>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>

        <ion-card-content>
            <ion-list *ngFor="let income of category_income;index as i">
                <ion-label name="Income" id="Income" class="category" (click)="settype_category('income',income.record_name)">{{income.record_name}}</ion-label>
            </ion-list>
        </ion-card-content>


    </ion-card>
</ion-content>


<ion-content *ngIf="type_catagory == 'Expense'">
    <ion-card id="card">
        <ion-card-header>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card-title class="background_default" (click)="ChecktypeCatagory('income')">Income
                        </ion-card-title>
                    </ion-col>
                    <ion-col>

                        <ion-card-title class="background_click" (click)="ChecktypeCatagory('Expense')">Expense
                        </ion-card-title>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>

        <ion-card-content>
            <ion-list *ngFor="let expense of category_expense;index as i">
                <ion-label name="Expense" id="Expense" class="category" (click)="settype_category('Expense',expense.record_name)">{{expense.record_name}}
                </ion-label>
            </ion-list>
        </ion-card-content>

    </ion-card>
</ion-content>