@import url('https://fonts.googleapis.com/css?family=Kanit|Mitr|Prompt&display=swap');
* {
    font-family: 'Prompt' !important;
}

.background_click-income {
    background-color: rgb(33, 168, 44);
    width: 120px;
    color: white;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    font-size: 18px;
}

.background_click-expense {
    background-color: rgb(218, 0, 0);
    width: 120px;
    color: white;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    font-size: 18px;
}

.background_default {
    background-color: rgb(202, 209, 202);
    width: 120px;
    height: 30px;
    color: black;
    border-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    font-size: 18px;
}

#card {
    border-radius: 10px;
}

.category {
    font-size: 17px;
    color: rgb(10, 9, 9);
    margin-left: 20px;
}