.background_click {
    background-color: rgb(33, 168, 44);
    width: 95px;
    color: white;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 16px;
    font-size: 18px;
}

.background_default {
    background-color: rgb(202, 209, 202);
    width: 95px;
    height: 30px;
    color: black;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    font-size: 18px;
}

#card {
    border-radius: 10px;
}

.category {
    font-size: 17px;
    color: rgb(10, 9, 9);
    margin-left: 20px;
}