@import url('https://fonts.googleapis.com/css?family=Kanit|Mitr|Prompt&display=swap');
* {
    font-family: 'Prompt' !important;
}

.margin-top {
    padding-top: 7px;
}

.sizeimg {
    width: 150px;
    height: 150px;
}

.icon {
    width: 30px;
    height: 30px;
}