<!-- 
  File Name : app.component.html
  Name : Chomphunut Pitathawatchai 
  Date : 01/03/20
 -->
<!-- Header -->
<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <!--Icon Back -->
                <ion-col>
                    <div class="margin-top">
                        <ion-icon class="icon" (click)="back()" name="arrow-back-circle"></ion-icon>
                    </div>
                </ion-col>
                <!-- end Icon Back -->

                <!-- Text Little -->
                <ion-col>
                    <div class="ion-text-center">
                        <ion-title>{{account_name}}</ion-title>
                    </div>
                </ion-col>
                <!-- End Text Little -->

                <!-- Icon logout -->
                <ion-col class="ion-text-right">
                    <div class="margin-top text-right">

                    </div>
                </ion-col>
                <!-- End Icon logout -->

            </ion-row>
        </ion-grid>

    </ion-toolbar>

</ion-header>
<!-- End Header -->
<ion-content>
    <ion-card>
        <!-- Header -->
        <ion-card-header>
            <div class="ion-text-center">
                <ion-title>รายชื่อที่ใช้ร่วมกัน</ion-title>
            </div>
        </ion-card-header>
        <!-- End Header -->
        <ion-card-content>
            <ion-grid>
                <!-- Show List Family -->
                <ion-list *ngFor="let account of account.account_member">
                    <ion-item-sliding>
                        <ion-item *ngIf="user_session.user_id != account.user_id">
                            <ion-label>{{ account.user_id }}</ion-label>
                        </ion-item>
                        <!-- Button delete -->
                        <ion-item-options side="end">
                            <ion-item-option color="danger" (click)="delete(account.id)">Delete</ion-item-option>
                        </ion-item-options>
                        <!-- End Button delete -->
                    </ion-item-sliding>
                </ion-list>
                <!-- End Show List Family -->
                <!-- Show ID Account -->
                <ion-row>
                    <ion-col class="ionic-text-start" size="9">
                        <ion-input type="text" [(ngModel)]="sharename" name="sharename" placeholder="ไอดีบัญชีผู้ใช้ที่จะแชร์ร่วม">
                            <ion-icon name="person-circle-outline"></ion-icon>
                        </ion-input>
                    </ion-col>
                    <!-- End Show ID Account -->
                    <!-- Search Usermane -->
                    <ion-col class="ionic-text-end" size="3">
                        <ion-toolbar>
                            <ion-button slot="end" (click)="searchusername()" size="small">
                                <ion-icon name="search"></ion-icon>
                            </ion-button>
                        </ion-toolbar>
                        <!-- End Search Usermane -->
                    </ion-col>

                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-card>
    <!-- Button confirm -->
    <ion-card-content>
        <ion-button expand="block" (click)="alert()">ยืนยัน</ion-button>
    </ion-card-content>
    <!-- End Button confirm -->
</ion-content>