<ion-header>
    <ion-toolbar>
        <ion-title>Add Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <ion-grid>

        <ion-row>

            <ion-col size="6" size-lg offset="3">

                <ion-text>
                    <h1 class="ion-text-center itim"> Account </h1>
                </ion-text>

            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col size-lg>
                <ion-item>
                    <ion-label>Type</ion-label>
                    <ion-select interface="popover">
                        <ion-select-option value="1">Personal</ion-select-option>
                        <ion-select-option value="2">Family</ion-select-option>
                        <ion-select-option value="3">Enterprise</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6" size-lg offset="3">
                <ion-input type="text" [(ngModel)]="nameaccount" name="nameaccount" placeholder="Name account">
                    <ion-icon name="people-circle"></ion-icon>
                </ion-input>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-button expand="block" color="success">confirm</ion-button>
            </ion-col>

            <ion-col>
                <ion-button (click)="back()" expand="block" color="danger">Cancle</ion-button>
            </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>