<!-- 
    File Name : addaccount.page.html
    Author : Chatchalerm
    Date : 2020-03-09
 -->
<!-- Header -->
<ion-header>
    <ion-toolbar>
        <ion-title>เพิ่มบัญชี</ion-title>
    </ion-toolbar>
</ion-header>
<!-- End of Header -->
<ion-content fullscreen *ngIf="type == 'Personal'">

    <ion-grid>
        <ion-card>
            <ion-row>
                <ion-col size-lg>
                    <ion-input type="text" [(ngModel)]="name_account" name="nameAccount" placeholder="ชื่อบัญชี">
                        <ion-icon name="person-circle-outline" style="width: 30px; height: 30px;"></ion-icon>
                    </ion-input>
                </ion-col>
            </ion-row>

            <!-- Type of account -->
            <ion-row>

                <ion-col size-lg>
                    <ion-item>
                        <ion-label>ประเภทของบัญชี</ion-label>
                        <ion-select [(ngModel)]="type">
                            <ion-select-option value="Personal">บุคคล</ion-select-option>
                            <ion-select-option value="Family">ครอบครัว</ion-select-option>
                            <ion-select-option value="Enterprise">องค์กร</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>

            </ion-row>
        </ion-card>

        <!-- End of Selection -->
        <!-- Confirm button -->
        <ion-row>
            <ion-col>
                <ion-button (click)="confirm()" expand="full" color="success">ยืนยัน</ion-button>
            </ion-col>
        </ion-row>
        <!-- End of confirm button -->
        <!-- Back button -->
        <ion-row>
            <ion-col>
                <ion-button (click)="back()" expand="full" color="danger">ยกเลิก</ion-button>
            </ion-col>
        </ion-row>
        <!-- End of back button -->

    </ion-grid>
</ion-content>

<ion-content fullscreen *ngIf="type == 'Family'">

    <ion-grid>
        <ion-card>
            <ion-row>
                <ion-col size-lg>
                    <ion-input type="text" [(ngModel)]="name_account" name="nameAccount" placeholder="ชื่อบัญชี">
                        <ion-icon name="person-circle-outline" style="width: 30px; height: 30px;"></ion-icon>
                    </ion-input>
                </ion-col>
            </ion-row>

            <!-- Type of account -->
            <ion-row>

                <ion-col size-lg>
                    <ion-item>
                        <ion-label>ประเภทของบัญชี</ion-label>
                        <ion-select [(ngModel)]="type">
                            <ion-select-option value="Personal">บุคคล</ion-select-option>
                            <ion-select-option value="Family">ครอบครัว</ion-select-option>
                            <ion-select-option value="Enterprise">องค์กร</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>

            </ion-row>
            <!-- End of Selection -->

            <!-- Confirm button -->
            <ion-row>
                <ion-col>
                    <ion-button (click)="confirm()" expand="full" color="success">ยืนยัน</ion-button>
                </ion-col>
            </ion-row>
            <!-- End of confirm button -->

            <!-- Back button -->
            <ion-row>
                <ion-col>
                    <ion-button (click)="back()" expand="full" color="danger">ยกเลิก</ion-button>
                </ion-col>
            </ion-row>
            <!-- End of back button -->
        </ion-card>



    </ion-grid>
</ion-content>

<ion-content fullscreen *ngIf="type == 'Enterprise'">

    <ion-grid>
        <ion-card>
            <ion-row>
                <ion-col size-lg>
                    <ion-input type="text" [(ngModel)]="name_account" name="nameAccount" placeholder="ชื่อบัญชี">
                        <ion-icon name="person-circle-outline" style="width: 30px; height: 30px;"></ion-icon>
                    </ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size-lg>
                    <ion-input type="text" [(ngModel)]="department" name="department" placeholder="ตำแหน่งงาน">
                        <ion-icon name="people-outline" style="width: 30px; height: 30px;"></ion-icon>
                    </ion-input>
                </ion-col>
            </ion-row>

            <!-- Type of account -->
            <ion-row>
                <ion-col size-lg>
                    <ion-item>
                        <ion-label>ประเภทของบัญชี</ion-label>
                        <ion-select [(ngModel)]="type">
                            <ion-select-option value="Personal">บุคคล</ion-select-option>
                            <ion-select-option value="Family">ครอบครัว</ion-select-option>
                            <ion-select-option value="Enterprise">องค์กร</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <!-- End of Selection -->
            <!-- Confirm button -->
            <ion-row>
                <ion-col>
                    <ion-button (click)="confirm()" expand="full" color="success">ยืนยัน</ion-button>
                </ion-col>
            </ion-row>
            <!-- End of confirm button -->
            <!-- Back button -->
            <ion-row>
                <ion-col>
                    <ion-button (click)="back()" expand="full" color="danger">ยกเลิก</ion-button>
                </ion-col>
            </ion-row>
            <!-- End of back button -->
        </ion-card>


    </ion-grid>
</ion-content>