<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Setting</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card-content>
        <ion-card>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        Numchock
                    </ion-col>
                    <ion-col>
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="create-outline"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        Vathinee
                    </ion-col>
                    <ion-col>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ion-card-content>
</ion-content>