<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Setting</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card-content>
        <ion-card>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=60160169" alt="Paris" width="300" height="300">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="center-font">
                        <ion-label>
                            <h2>Name: </h2>
                        </ion-label>
                    </ion-col>
                    <ion-col class="ionic-text-center ">
                        <!-- แท๊กนี้จะเป็นส่วนของการแก้ไขชื่อ -->
                        <ion-input [disabled]="status" value="{{name}}" [(ngModel)]="name" #thenBlock></ion-input>
                        <!-- <ion-input *ngIf="status==false;" value="{{name}}" #elseBlock></ion-input> -->
                    </ion-col>
                    <!-- ส่วนนี้จะเป็น ปุ่มแก้ไขและปุ่มยืนยัน -->
                    <ion-col>
                        <!-- ปุ่มกดแก้ไข หลังจากปุ่มนี้จะถูกซ่อน-->
                        <ion-button *ngIf="status==true;" (click)="editName()" color="warning" size="small">
                            <ion-icon name="create-outline"></ion-icon>
                        </ion-button>
                        <!-- ปุ่มกดยืนยันแก้ไข หลังจากที่กดแก้ไขในปุ่มก่อนหน้า -->
                        <ion-button *ngIf="status==false;" (click)="successToEdit()" color="success" size="small">
                            <ion-icon name="checkmark-outline"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card>
        <ion-row>
            <!-- <ion-col size="9">
            </ion-col> -->
            <ion-col>
                <ion-button color="danger" expand="block" (click)="deleteName()">
                    ลบบัญชีผู้ใช้
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-content>