<ion-header>
  <ion-toolbar>
    <ion-title><h1 class="ion-text-center itim"> MheeMoney </h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title>
        MheeMoney
      </ion-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col>
            <ion-text><p>Inflow</p></ion-text>
          </ion-col>
          <ion-col>
            <ion-text>฿ 0 </ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text><p>Outflow</p></ion-text>
          </ion-col>
            
          <ion-col class="line-red">
            <ion-list>
            <ion-text class="txt-right" > ฿ 4,000 </ion-text>
          </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text><p></p></ion-text>
          </ion-col>
            
          <ion-col>
            <ion-list>
            <ion-text class="txt-right">- ฿ 4,000 </ion-text>
          </ion-list>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>