<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <h1>MheeMoney</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title class="circle">Transactions</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text class="">Education</ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text class="text-red text-right"><p>฿ 2,500</p></ion-text>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-text class="">Fitness</ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text class="text-red text-right"><p>฿ 1,500</p></ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

</ion-content>

