.circle {
    width: 140px;
    /* ความกว้าง */
    height: 140px;
    /* ความสูง */
    background: greenyellow;
    /* สี */
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}