<ion-header>
    <ion-toolbar>
        <ion-title>
            <h1 class="ion-text-center">MheeMoney</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <IonCardTitle>Card Title</IonCardTitle>
        </ion-card-header>

        <IonCardContent>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </IonCardContent>
    </ion-card>
</ion-content>