.circle {
    width: 120px;
    /* ความกว้าง */
    height: 30px;
    /* ความสูง */
    background: gray;
    /* สี */
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    font-size: 16px;
    padding: 5px;
    padding-left: 15px;
}

.text-red {
    color: red;
}

.text-blue {
    color: rgb(29, 29, 110);
}