<ion-header>
    <ion-toolbar>
        <ion-title>
            <h1 class="ion-text-center">MheeMoney</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="circle-card">
        <ion-card-header>
            <ion-card-title class=" circle ">Transactions</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="6 ">
                        <h2 class="ion-text-left text-blue ">Education</h2>
                    </ion-col>
                    <ion-col size="6 ">
                        <h2 class="ion-text-right text-red ">฿2,500</h2>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="6 ">
                        <h2 class="ion-text-left text-blue ">Fitness</h2>
                    </ion-col>
                    <ion-col size="6 ">
                        <h2 class="ion-text-right text-red ">฿1,500</h2>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>