<ion-header>
  <ion-toolbar>
    <ion-title><h1 class="ion-text-center itim"> MheeMoney </h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-text size="6">MheeMoney</ion-text>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col>
            <ion-text><p class="txt-blue">Inflow</p></ion-text>
          </ion-col>
          <ion-col>
            <ion-text><p class="txt-green">฿ 0</p></ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-text><p class="txt-blue">Outflow</p></ion-text>
          </ion-col>
            
          <ion-col class="line-red">
            <ion-text><p class="txt-red">฿ 4,000</p></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text><p></p></ion-text>
          </ion-col>
  
          <ion-col>
            <ion-text><p class="txt-black">- ฿ 4,000</p></ion-text>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>