<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Add</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>

        <ion-card-header>
            <p (click)="openModal()">฿ 0</p>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-label (click)="goCategoryPage()">Category</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Note</ion-label>
                <ion-textarea placeholder="Add Note"><ion-icon name="pencil-outline"></ion-icon></ion-textarea>
            </ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" color="success">Confirm</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="block" color="danger">Cancle</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        </ion-card-content>



    </ion-card>

</ion-content>

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="list-transactions">
            <ion-img justify-content-center class="menu-icon" src="assets/icon/transactions.png"></ion-img>
            <ion-label>Transactions</ion-label> <!--รายละเอียดรายรับรายจ่าย-->
        </ion-tab-button>

        <ion-tab-button tab="add">
            <ion-icon color="success" class="icon-taps" name="add-circle"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="showaccount">
            <ion-img justify-content-center class="menu-icon" src="assets/icon/account.png"></ion-img>
            <ion-label>Account</ion-label> <!--บัญชีผู้ใช้งาน-->
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
