<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Add</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>



    <ion-card>

        <ion-card-header>
            <p (click)="openModal()">฿ 0</p>
        </ion-card-header>


        <ion-card-content>
            <ion-list>




                <ion-item>

                    <ion-label position="floating">
                        <ion-icon name="pencil-sharp"></ion-icon>Note</ion-label>
                    <ion-textarea></ion-textarea>
                </ion-item>

            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-content>
