/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit|Mitr|Prompt&display=swap');

* {
    font-family: 'Prompt', !important;
}

.menu-icon {
    width: 40px; 
    height: 40px;
  }
  
.menu-icon-lg {
    width: 60px; 
    height: 60px;
    margin-bottom: 10px !important;
}

.icon-taps {
    font-size: 90px !important;
}

.inner-scroll {
    background: linear-gradient(237deg, #62b4ea, #f8b7cd) !important;
    background-size: 400% 400% !important;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite !important;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 24%}
        50%{background-position:100% 77%}
        100%{background-position:0% 24%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 24%}
        50%{background-position:100% 77%}
        100%{background-position:0% 24%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 24%}
        50%{background-position:100% 77%}
        100%{background-position:0% 24%}
    }
}

.bg-login {
    background: linear-gradient(237deg, #62b4ea, #f8b7cd) !important;
    background-size: 400% 400% !important;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite !important;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 24%}
        50%{background-position:100% 77%}
        100%{background-position:0% 24%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 24%}
        50%{background-position:100% 77%}
        100%{background-position:0% 24%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 24%}
        50%{background-position:100% 77%}
        100%{background-position:0% 24%}
    }
}