<ion-header>
    <ion-toolbar>
        <ion-title>
            <!-- Account -->
            <h1 class="ion-text-center">{{account_name}}</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-flow">
    <!-- Name Account -->
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text>
                            <p class="">รายรับ</p>
                        </ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text>
                            <p class="text-green text-right">฿ {{income | number }}</p>
                        </ion-text>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-text>
                            <p class="">รายจ่าย</p>
                        </ion-text>
                    </ion-col>
                    <ion-col class="line-red">
                        <ion-text>
                            <p class="text-red text-right">฿ {{Expense | number }} </p>
                        </ion-text>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-text>
                            <p class="">ยอดรวม</p>
                        </ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text>
                            <p class="text-right">{{balance | number }}</p>
                        </ion-text>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title class="circle">การบันทึก</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div *ngIf="value else show">
                <p>ไม่มีการบันทึกรายรับรายจ่าย</p>
            </div>
            <ion-grid #show *ngFor="let transaction of transaction">
                <ion-row>
                    <ion-col>
                        <ion-title>{{transaction.tran_category_name}}</ion-title>
                    </ion-col>
                    <ion-col *ngIf='transaction.tran_category_type == "income"'>
                        <ion-text class="text-green text-right">
                            <p>฿ {{transaction.tran_amount | number }}</p>

                        </ion-text>

                    </ion-col>
                    <ion-col *ngIf='transaction.tran_category_type == "Expense"'>
                        <ion-text class="text-red text-right">
                            <p>฿ {{transaction.tran_amount | number }}</p>
                        </ion-text>
                    </ion-col>
                </ion-row>



                <ion-row>
                    <ion-text class="text-start" size="small">
                        <P>วันที่ {{transaction.tran_date}}</P>
                    </ion-text>
                </ion-row>


            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="list-transactions">
                <ion-img justify-content-center class="menu-icon" src="assets/icon/transactions.png"></ion-img>
                <ion-label>ธุรกรรม</ion-label>
                <!--รายละเอียดรายรับรายจ่าย-->
            </ion-tab-button>

            <ion-tab-button (click)="add()">
                <ion-icon color="success" class="icon-taps" name="add-circle"></ion-icon>
            </ion-tab-button>

            <ion-tab-button tab="showaccount">
                <ion-img justify-content-center class="menu-icon" src="assets/icon/account.png"></ion-img>
                <ion-label>บัญชีผู้ใช้งาน</ion-label>
                <!--บัญชีผู้ใช้งาน-->
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

</ion-content>