<ion-header>
    <ion-toolbar>
        <ion-title>
            <h1 class="ion-text-center">MheeMoney</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-text size="6">MheeMoney</ion-text>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text><p class="">Inflow</p></ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text><p class="text-green text-right">฿ 0</p></ion-text>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-text><p class="">Outflow</p></ion-text>
                    </ion-col>
                    <ion-col class="line-red">
                        <ion-text><p class="text-red text-right">฿ 4,000</p></ion-text>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-text><p></p></ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text><p class="text-black text-right">- ฿ 4,000</p></ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title class="circle">Transactions</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text class="">Education</ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text class="text-red text-right"><p>฿ 2,500</p></ion-text>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-text class="">Fitness</ion-text>
                    </ion-col>
                    <ion-col>
                        <ion-text class="text-red text-right"><p>฿ 1,500</p></ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="list-transactions">
                <ion-img justify-content-center class="menu-icon" src="assets/icon/transactions.png"></ion-img>
                <ion-label>Transactions</ion-label> <!--รายละเอียดรายรับรายจ่าย-->
            </ion-tab-button>
      
            <ion-tab-button tab="add">
                <ion-icon color="success" class="icon-taps" name="add-circle"></ion-icon>
            </ion-tab-button>
      
            <ion-tab-button tab="showaccount">
                <ion-img justify-content-center class="menu-icon" src="assets/icon/account.png"></ion-img>
                <ion-label>Account</ion-label> <!--บัญชีผู้ใช้งาน-->
            </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>

</ion-content>

