<ion-header [translucent]="true">
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons> -->
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


</ion-content>

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="list-transactions">
            <ion-img justify-content-center class="menu-icon" src="assets/icon/transactions.png"></ion-img>
            <ion-label>Transactions</ion-label> <!--รายละเอียดรายรับรายจ่าย-->
        </ion-tab-button>

        <ion-tab-button tab="add">
            <ion-icon color="success" class="icon-taps" name="add-circle"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="showaccount">
            <ion-img justify-content-center class="menu-icon" src="assets/icon/account.png"></ion-img>
            <ion-label>Account</ion-label> <!--บัญชีผู้ใช้งาน-->
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>